{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
    }
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    // enable additional rules
    "indent": [
      "error",
      4
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    // disable rules from base configurations
    "no-console": "off"
  }
}